@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --border: 217 33% 17%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}
